/*--THIS FILE IS USED ONLY FOR OBSERVING THE BACKGROUND LAYOUT FOR USE WITH FORMATTING CONSIDERATIONS/MODIFICATIONS*/
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 4a4aaec33b5d4884f08e9239f2f2201e8f6c60c8
=======

>>>>>>> origin/UIdev

html, body {
  height: 90vh;
  width: 95vw;
  margin: auto;
  }

  /* welcome screen styles */
  .welcomeGrid
{
display: grid;
grid-template-rows: 3fr 2fr 1fr 6fr 2fr 2fr;
grid-template-columns: 1fr 1fr 1fr;
font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 95vh;
  padding: 0px;
  background-color: rgb(199, 172, 229);
  background-image: url('assets/WelcomeBackdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  }

.welcomeHeader
{
display: grid;
grid-template-columns: repeat(7, 1fr);
  grid-column-start: 1;
  grid-column-end: 4;
  direction: rtl;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 15px;

}

#description
{
grid-column-start: 1;
grid-column-end: 6;
grid-row-start: 2;
grid-row-end: 3;
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.5em;
font-weight: bold;
}

#gameRoomTitle
{
font-weight: bold;
color: rgb(176, 0, 0);
font-size: 1.3em;
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 2;
grid-column-end: 3;
margin-top: 15px;
margin-left: 15px;

}
.gameRoom
{
  background-color: rgb(255, 255, 255);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  min-height: 200px;
  min-width: 370px;
  padding: 10px;
  margin: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.welcomeJoinGame
{
font-weight: bold;
grid-row-start: 5;
grid-row-end: 6;
grid-column-start: 2;
grid-column-end: 3;
padding: 10px;
margin-left: 10px;
}

#waiting
{
color: rgb(176, 0, 0);
text-align: left;
vertical-align: bottom;
margin-bottom: 10px;
}

.input-field #joinName  {
background-color: white;
height: 42px;
border: bottom 0px;
box-shadow: 0px;
padding-left: 5px;
padding-right: 5px;
margin-bottom:0px;

}
/* end welcome screen specific styles */

.input-field #msgInput  {
background-color: white;
height: 20px;
width: 110px;
box-shadow: 0px;
padding-left: 3px;
padding-right: 3px;
border-radius: 5px;
font-size:0.7em;
margin:0px;
direction: ltr;
padding-top: 0px;
padding-bottom: 0px;


}

.btn-orange {
background-color: rgb(255, 98, 0);
color: rgb(0, 0, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
height: 42px;
border-radius:5px;
font-weight: bold;
font-size:0.8em;
}

.btn-sand {
background-color: rgb(252, 219, 154);
color: rgb(0, 0, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
height: 42px;
border-radius:5px;
font-weight: bold;
font-size:0.8em;
}

.btn-send {
background-color: rgb(215, 215, 215);
color: rgb(0, 0, 0);
height: 20px;
border-radius:5px;
padding-right: 0px;
margin:5px;
width:20px;
}
  .responsive, image {
    max-height: 100%;
    max-width: 100%;
  }

  #gameboard
  {
    background-image: url('assets/Desertscape.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .leftGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: 5vw 6vw 30vw;
    grid-template-rows: 4vh 3vh 19vh;
    padding:3px;
    margin: auto;

  }


  .rightGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: 30vw 6vw 5vw;
    grid-template-rows: 4vh 3vh 19vh;
    text-align: right;
    padding:3px;
    margin: auto;
  }

.topPane
{
display: grid;
grid-template-columns: 45% 10% 45%;
  max-height: 30vh;
  padding: 0px;
  font-size:0.7em;

}

.midPane
{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  max-height: 30vh;
  padding: 0px;
  font-size:0.7em;

}

.bottomPane
{
display: grid;
grid-template-columns: 22% 56% 22%;
max-height: 250px;
padding: 0px;
}
.midFore
{
  margin: auto;
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 105px 115px 20px;
  padding:3px;
}


#mainName
{
grid-row-start: 3;
grid-row-end:4;
grid-column-start:2;
grid-column-end:4;
background-color: white;
}

#mainHand
{
grid-column-start:1;
grid-column-end:4;
grid-row-start: 2;
grid-row-end:3;
background-color: rgb(214, 225, 179);
text-align: center;
}

#mainBullets
{
grid-row-start: 3;
grid-row-end:4;
grid-column-start:1;
grid-column-end:2;
background-color: rgb(198, 214, 231);
direction: rtl;
}

#mainCardsInPlay
{
grid-column-start:1;
grid-column-end:4;
grid-row-start: 1;
grid-row-end:2;
background-color: rgb(237, 225, 202);
text-align: center;
margin:0px;
padding:0px;
}


.leftFore
{
display: grid;
grid-column-gap: 2px;
grid-row-gap: 3px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 38vh;
padding:0px;
background-color: indianred;
}

.rightFore
{
display: grid;
grid-column-gap: 2px;
grid-row-gap: 3px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 38vh;
padding:0px;
text-align: right;
direction: rtl;
background-color: indigo;
}
.actionLogPanel
{
background-color: lightskyblue;
text-align: center;
column-span: 1;
border-radius:5px;
width: 150px;
height:245px;
margin: 2px;
}
#actionLogWindow
{
font-size:0.7em;
padding: 2px;
text-align: left;
background-color: white;
max-width: 140px;
height: 62%;
margin: auto;
margin-bottom:5px;
border-radius: 5px;
overflow-y: auto;
display: flex;  
flex-direction: column-reverse;
}

.messagePanel
{
background-color: lightskyblue;
text-align: center;
column-span: 1;
border-radius:5px;
width: 150px;
height: 245px;
margin: 2px;
}
#messageWindow
{
font-size:0.7em;
padding: 2px;
text-align: left;
background-color: white;
max-width: 140px;
height: 50%;
margin: auto;
border-radius: 5px;
overflow-y: auto;
display: flex;  
flex-direction: column-reverse;
}
.leftGrid .playerName
{
background-color: rgb(248, 245, 251);
grid-column-start: 1;
grid-column-end: 4;
}

.playerName, #mainName
{
color: darkblue;
font-family: Fantasy, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
margin-left: 5px;
margin-right: 5px;
}

.leftGrid .bulletTray
{
background-color: hotpink;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
}

.characterCard
{
background-color: rgb(46, 192, 208);
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
display:grid;
grid-column: 1fr;
grid-row: 1fr;
position: relative;

}

.cardOnly
{
grid-column: 1;
grid-row: 1;
z-index: 1;
}

.sheriffStar
{
max-height: 90px;
margin-top:20px;
margin-left: 30px;
grid-column: 1;
grid-row: 1;
z-index: 1;
}

.leftGrid .cardsInPlay
{
background-color: rgb(124, 171, 129);
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 4;
}

.cardsInPlay
{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
}

.topMiddleGrid
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 3fr 7fr 7fr;
grid-row-gap: 0px;
padding: 0px;
max-height: 27vh;
}

.undercoverRoles
{
background-color: rgb(242, 134, 116);
grid-row-start: 2;
grid-row-end: 4;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}

.midMidGrid
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-row-gap: 0px;
padding: 0px;
max-height: 27vh;
}
.deckGrid
{
background-color: rgb(135, 126, 125);
grid-row-start: 2;
grid-row-end: 3;
display: grid;
grid-column-gap: 5px;
grid-template-columns: 1fr 1fr;
}

.deckInstructions
{
background-color: rgb(207, 179, 203);
grid-row-start: 3;
grid-row-end: 4;
}

.privateHand img{
display: block;
}

.leftGrid .privateHand
{
background-color: rgb(161, 205, 213);
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;
}

.rightGrid .playerName
{
background-color: rgb(248, 245, 251);
grid-column-start: 1;
grid-column-end: 4;
}


.rightGrid .bulletTray
{
background-color: hotpink;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
}

.rightGrid .cardsInPlay
{
background-color: rgb(237, 255, 188);
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 4;
direction: rtl;
}

.rightGrid .privateHand
{
background-color: rgb(40, 4, 22);
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 4;
}

#mainCharacterCard
{
background-color: rgb(169, 237, 244);
position: relative;
}

#mainRoleCard
{
background-color: rgb(243, 217, 247);
margin-bottom:0px;
padding-bottom:0px;
vertical-align: bottom;
}

.a5
{
background-color: rgb(108, 75, 108);
}

.b5
{
background-color: rgb(196, 128, 174);

}

.c5
{
background-color: rgb(141, 180, 231);

}

.d5
{
background-color: rgb(150, 148, 118);
}

.e5
{
background-color: rgb(252, 222, 191);
}

.hidden
{
  display: none;
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 4a4aaec33b5d4884f08e9239f2f2201e8f6c60c8
=======

>>>>>>> origin/UIdev
