
html, body {
  height: 95vh;
  width: 90vw;
  margin: auto;
  }

  /* welcome screen styles */
  .welcomeGrid
{
display: grid;
grid-template-rows: 3fr 2fr 1fr 6fr 2fr 2fr;
grid-template-columns: 1fr 1fr 1fr;
font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 95vh;
  padding: 0px;
  background-color: rgb(175, 218, 246);
  background-image: url('assets/WelcomeBackdrop.png');
  background-size: cover;
  background-repeat: no-repeat;
  }

.welcomeHeader
{
display: grid;
grid-template-columns: repeat(7, 1fr);
  grid-column-start: 1;
  grid-column-end: 4;
  direction: rtl;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 15px;
}

#description
{
grid-column-start: 1;
grid-column-end: 6;
grid-row-start: 2;
grid-row-end: 3;
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.5em;
font-weight: bold;
}

#gameRoomTitle
{
font-weight: bold;
color: rgb(176, 0, 0);
font-size: 1.3em;
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 2;
grid-column-end: 3;
margin-top: 15px;
margin-left: 15px;

}
.gameRoom
{
  background-color: rgb(255, 255, 255);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  min-height: 200px;
  min-width: 370px;
  padding: 10px;
  margin: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.welcomeJoinGame
{
font-weight: bold;
grid-row-start: 5;
grid-row-end: 6;
grid-column-start: 2;
grid-column-end: 3;
padding: 10px;
margin-left: 10px;
}

#waiting
{
color: rgb(176, 0, 0);
text-align: left;
vertical-align: bottom;
margin-bottom: 10px;
}

.input-field #joinName  {
background-color: white;
height: 42px;
border: bottom 0px;
box-shadow: 0px;
padding-left: 5px;
padding-right: 5px;
margin-bottom:0px;

}
/* end welcome screen specific styles */

.input-field #msgInput  {
background-color: white;
height: 20px;
width: 110px;
box-shadow: 0px;
padding-left: 3px;
padding-right: 3px;
border-radius: 5px;
font-size:0.7em;
margin:0px;
direction: ltr;
padding-top: 0px;
padding-bottom: 0px;
}

.btn-orange {
background-color: rgb(255, 98, 0);
color: rgb(0, 0, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
height: 42px;
border-radius:5px;
font-weight: bold;
font-size:0.8em;
}

.btn-sand {
background-color: rgb(232, 205, 151);
color: rgb(0, 0, 0);
font-family:Verdana, Geneva, Tahoma, sans-serif;
height: 42px;
border-radius:5px;
font-weight: bold;
font-size:0.8em;
}

.btn-send {
background-color: rgb(215, 215, 215);
color: rgb(0, 0, 0);
height: 20px;
border-radius:5px;
padding-right: 0px;
margin:5px;
width:20px;
}
.responsive, image 
{
  max-height: 100%;
  max-width: 100%;
}

#gameboard
{
    background-image: url('assets/darkerDesertscape.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 240px;
    grid-row-gap: 5px;
    padding: 10px;
    height:100%;
    margin-bottom:0px;
}
  .leftGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    grid-template-columns: 5fr 6fr 30fr;
    grid-template-rows: 1fr 1fr 30fr;
    padding:3px;
    margin: auto;
    max-height: 100%;
  }

  .rightGrid {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    grid-template-columns: 30fr 6fr 5fr;
    grid-template-rows: 1fr 1fr 30fr;
    text-align: right;
    padding:3px;
    margin: auto;
    max-height: 100%;
  }

.topPane
{
display: grid;
grid-template-columns: 45% 10% 45%;
grid-template-rows: 1fr;
  /*max-height: 30vh;*/
  padding: 0px;
  grid-row-start: 1;
  grid-row-end:2;
  column-span: 1;
  max-height: 24vh;
}

.midPane
{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 1fr;
  padding: 0px;
  grid-row-start: 2;
  grid-row-end:3;
  column-span: 1;
  max-height: 24vh;

}

.bottomPane
{
display: grid;
grid-template-columns: 150px 1fr 150px;
grid-template-rows: 1fr;
/*height: 250px;*/
padding: 0px;
grid-row-start: 3;
grid-row-end:4;
column-span: 1;
}
.midFore
{
  margin: auto;
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-rows: 100px 115px 20px; 
/* grid-template-rows: 11fr 12fr 2fr; */
  padding:3px;
  max-height: 100%;
}


#mainName
{
grid-row-start: 3;
grid-row-end:4;
grid-column-start:3;
grid-column-end:5;
font-size: 1.2em;
}

#mainHand
{
grid-column-start:2;
grid-column-end:5;
grid-row-start: 2;
grid-row-end:3;
text-align: center;
}

#mainBullets
{
grid-row-start: 3;
grid-row-end:4;
grid-column-start:2;
grid-column-end:3;
direction: rtl;
max-height: 7vh;

}

#mainCardsInPlay
{
grid-column-start:2;
grid-column-end:5;
grid-row-start: 1;
grid-row-end:2;
text-align: center;
margin:0px;
padding:0px;
}

#mainCardsInPlay img
{
max-width:15%;
}

#mainHand img
{
/*will be dynamically adjusted for very large hands*/
max-width:15%;
}


.leftFore
{
display: grid;
grid-column-gap: 2px;
grid-row-gap: 3px;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
padding:0px;
max-height: 100%;

}

.rightFore
{
display: grid;
grid-column-gap: 2px;
grid-row-gap: 3px;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
padding:0px;
text-align: right;
direction: rtl;
}

.messagePanelforphase
{
  /*
  background-color: rgb(196, 201, 205);
  color: rgb(127, 14, 14);*/
  background-color: rgb(33, 33, 33);
  color: rgb(222, 0, 0);
  border-radius:5px;
  font-size:0.7em;
  font-weight: 500;
  height:75px;
  padding:5px;
  margin-left: 5px;
  padding-left: 10px;
  max-width:110px;
}

.actionLogPanel
{
  background-color: rgb(190, 177, 160);
text-align: center;
column-span: 1;
border-radius:5px;
width: 150px;
height:245px;
margin: 2px;
}
#actionLogWindow
{
font-size:0.7em;
padding: 2px;
text-align: left;
background-color: white;
max-width: 140px;
height: 62%;
margin: auto;
margin-bottom:5px;
border-radius: 5px;
overflow-y: auto;
display: flex;  
flex-direction: column-reverse;
}

.messagePanel
{
  background-color: rgb(190, 177, 160);
  text-align: center;
column-span: 1;
border-radius:5px;
width: 150px;
height: 245px;
margin: 2px;
}

#messageWindow
{
font-size:0.7em;
padding: 2px;
text-align: left;
background-color: white;
max-width: 140px;
height: 50%;
margin: auto;
border-radius: 5px;
overflow-y: auto;
display: flex;  
flex-direction: column-reverse;
}

.leftGrid .playerName
{
grid-column-start: 1;
grid-column-end: 4;
font-size: 1.1em;
}

.playerName, #mainName
{
color: rgb(216, 216, 247);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
text-transform: uppercase;
margin-left: 5px;
margin-right: 5px;
}

.leftGrid .bulletTray
{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
max-height: 3vh;
padding-bottom: 0px;
margin-bottom: 0px;
}

.characterCard
{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
display:grid;
grid-column: 1fr;
grid-row: 1fr;
position: relative;
max-height: 100%;
max-height: 20vh;
}

.cardOnly
{
grid-column: 1;
grid-row: 1;
z-index: 1;
max-height: 20vh;
}

.sheriffStar
{
max-height: 90px;
margin-top:10px;
margin-right: 0px;
grid-column: 1;
grid-row: 1;
z-index: 1;
max-height: 20vh;
}

.leftGrid .cardsInPlay
{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 4;
}

.cardsInPlay
{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
max-height: 20vh;
}

.topMiddleGrid
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 10px 1fr 1fr;
grid-row-gap: 0px;
padding: 0px;
max-height: 100%;
}

.undercoverRoles
{
grid-row-start: 2;
grid-row-end: 4;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
max-height: 20vh;
}

.midMidGrid
{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 10px 1fr 1fr;
grid-row-gap: 0px;
padding: 0px;
max-height: 100%;
}

.deckGrid
{
grid-row-start: 2;
grid-row-end: 3;
display: grid;
grid-column-gap: 5px;
grid-template-columns: 1fr 1fr;
max-height: 20vh;
}

.deckInstructions
{
grid-row-start: 3;
grid-row-end: 4;
}

.privateHand img
{
display: block;
max-height: 100%;
}

.leftGrid .privateHand
{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;
max-height: 20vh;
padding-bottom: 0px;
margin-bottom: 0px;

}

.rightGrid .playerName
{
grid-column-start: 1;
grid-column-end: 4;
font-size: 1.1em;
}


.rightGrid .bulletTray
{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
max-height: 3vh;
padding-bottom: 0px;
margin-bottom: 0px;
}

.rightGrid .cardsInPlay
{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 4;
direction: rtl;
}

.rightGrid .privateHand
{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 4;
max-height: 20vh;
padding-top: 0px;
margin-top: 0px;
}

#mainCharacterCard
{
grid-column-start:1;
grid-column-end:2;
grid-row-start: 2;
grid-row-end:4;
padding:3px;
}

#mainRoleCard
{
grid-column-start:5;
grid-column-end:6;
grid-row-start: 2;
grid-row-end:4;
padding:3px;
direction:rtl;
}
/* colours used for observing position areas on the layout
.a5
{
background-color: rgb(108, 75, 108);
}

#mainRoleCard
{
grid-column-start:5;
grid-column-end:6;
grid-row-start: 2;
grid-row-end:4;
padding:3px;
direction:rtl;
}
/* colours used for observing position areas on the layout 
#a5
{
background-color: rgb(108, 75, 108);
}

#b5
{
background-color: rgb(196, 128, 174);

}

#c5
{
background-color: rgb(141, 180, 231);

}

#d5
{
background-color: rgb(150, 148, 118);
}

#e5
{
background-color: rgb(252, 222, 191);
}
*/
.hidden
{
  display: none !important;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

  
>>>>>>> 4a4aaec33b5d4884f08e9239f2f2201e8f6c60c8
=======
  
>>>>>>> origin/UIdev
